body {
    background-color:#333;
    overflow: hidden;
}

canvas {
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #000;
}

#setup {
    background-color: rgba(255, 255, 255, 0.8);
    width: 240px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    position: relative;
    top: -600px;
    padding: 20px;
    border-radius: 8px;
}

#playerName {
    padding: 4px;
    margin: auto;
    width: 216px;
    text-align: center;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

#setup span {
    display: block;
    float: left;
    width: 140px;
    margin-top: 6px;
    font-size: 17px;
}

#color {
    width: 100px;
    height: 30px;
    padding: 1px;
}

#start {
    display: block;
    margin: auto;
    margin-top: 12px;
    width: 160px;
    font-weight: bold;
    font-size: 20px
}