<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="game.js" defer></script>
    <title>Document!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <canvas id='canvas'></canvas>
    <div id="setup">
        <input type="text" name="playerName" id="playerName" placeholder="Choose a name..."><br>
        <span for="color">Choose a color:</span>
        <input type="color" name="color" id="color" value="#00CCFF"><br>
        <button id="start" onclick="start();">Start!</button>
    </div>
    
</body>
</html>