<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document!</title>
  <style>
    body {
      /* margin: 0px; */
    }
    canvas {
      display: block;
    }
  </style>
</head>
<body style="background-color:#333;">
  <!-- <h1> <% global.thevar.push('1') %>  <%= global.thevar %> </h1> -->
  <canvas id='canvas' >

  </canvas>
  <script>
      <% include game.js %>
  </script>
</body>
</html>